* {
    box-sizing: border-box; 
}

.emotion{
    width: 50px;
    height: 60px;
}

body{
   overflow-y:hidden;
   overflow-x: auto;
   height: 100%;
   margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;
    padding: 1rem;
    min-width: 1400px; 
}

.header_adminAd{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.text-input{
    /* position: absolute; */
    margin-top: 1rem;
    right: 1rem;
    margin-left: auto;
}

select {
    font-family: 'sejongFont', sans-serif;
}

label {
    font-weight: 600;
    font-size: 15pt; 
    margin-left: 1rem;
}

#ad_type, #ad_period, #ad_used {
    position: relative;
    max-width: 10rem; /* 가로폭 제한 */
    font-size: 15pt;
    border: 1px solid #121212;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: var(--sejong-pink);
}

#ad_type::after, #ad_period::after, #ad_used::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#ad_type:focus, #ad_period:focus, #ad_used:focus {
    color: var(--sejong-pink);
    outline: none;
}

.search-container {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

.dropOptions {
    margin-left: 68px;
}

.adList {
    width: 100%;
    table-layout: fixed;
}

.ad_list, .setErAdTable {
    position: relative;
    width: 100%;
}

td {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th, table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.promotion-name {
    text-align: left;
}

.checking {
    display: flex;
    font-size: 15pt;
    align-items: flex-end;
}

.buttonGroup {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    flex-wrap: nowrap; 
    /* position: absolute; */
    right: 1rem;
    margin-left: auto;
}

.btn2 {
    background: var(--sejong-pink);
    border: none;
}

.btn2:before {
    height: 0%;
    width: 2px;
}

.btn2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116,125,136,.5), 
                inset -4px -4px 6px 0 rgba(255,255,255,.2),
                inset 4px 4px 6px 0 rgba(0,0,0,.4);
}

.custom-btn2 {
    width: 9rem;
    height: 2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background: var(--sejong-pink);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0 rgba(255,255,255,.5),
                7px 7px 20px 0 rgba(0,0,0,.1),
                4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
}

.userAdList table{
    width: 100%;
    table-layout: fixed; 
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
.userAdList thead{
    position: sticky;
    top: 0;
    z-index: 10;
}

.userAdList thead,
.userAdList tbody tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.userAdList tbody{
    display: block;
    max-height: 200px;
    overflow-y: auto;
}

.userAdList tbody::-webkit-scrollbar {
    width: 1px; 
}

.userAdList tbody::-webkit-scrollbar-thumb {
    background: var(--sejong-purple);
    border-radius: 8px;
}

.length{
    max-width: 30ch;
    display: block;
}

.custom-btn3 {
    width: 30rem;
    height: 3rem;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0 rgba(255,255,255,.5),
                7px 7px 20px 0 rgba(0,0,0,.1),
                4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
}
 
.btn3 {
    background: var(--sejong-purple);
    border: none;
}
.btn3:before {
    height: 0%;
    width: 2px;
}
.btn3:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116,125,136,.5), 
                inset -4px -4px 6px 0 rgba(255,255,255,.2),
                inset 4px 4px 6px 0 rgba(0,0,0,.4);
}

.check-button {
    position: fixed;
    bottom: 20px; 
    width: calc(100% - 40px); 
    text-align: center;
}
.check-button input {
    cursor: pointer;
    border-radius: 4px;
}

/* 반응형 디자인: 작은 화면 대응 */
@media (max-width: 1300px) {
    .container {
        flex-direction: row;
        min-width: 1400px;
    }
    .custom-btn2{
       min-width: 9rem;
       width: auto; 
       max-width: 100%; 
       white-space: nowrap; 
    }
    .check-button, .buttonGroup {
        display: flex;
        justify-content: center;
        align-items: center; 
        gap: 10px; 
        flex-wrap: nowrap; 
    }
    .custom-btn3{
        position: sticky;
        width: 30%;
        z-index: 1000;
    }
    h2{
        white-space: nowrap;
        position: sticky;
    }
    table {
        position: sticky;
        width: 100%;
    }
    th, td {
        white-space: nowrap; 
        text-align: center;
    }
}


 