.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
}

.leftTB {
    width: 70%;
    flex-shrink: 0;
}

.header_operatorMng {
    display: flex;
  	align-items: center;        
  	justify-content: space-between; 
  	width: 100%;
    margin: 1rem auto;
    margin-top: 2rem;
}

.header_operatorMng div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.custom-btn2 {
    width: 2rem;
    height: 2rem;
    font-size: 15pt;
    color: #fff;
    border-radius: 80%;
    background: var(--sejong-pink);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0 rgba(255,255,255,.5),
                7px 7px 20px 0 rgba(0,0,0,.1),
                4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
}

.operatorMngTB {
    width: 100%;
    table-layout: fixed;
}

td {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

table th, table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

.rightForm {
    min-width: 30%;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

label {
    display: inline-block;
    width: 130px;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
    margin-left: 2rem;
    font-size: 18pt;
}

input {
    border: 1px solid #121212;
    height: 2.25rem;
    padding: auto;
    font-size: 15pt;
    border-radius: 10px;
    outline: none;
    text-align: center;
    margin-top: 1rem;
    margin-left: 50px;
}

.operRegist {
    margin-top: 13%;
}

.custom-btn {
  width: 10rem;
  height: 3rem;
  font-size: 1.1rem;
}

.custom-btn {
    color: #fff;
    border-radius: 5px;
    padding: auto;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin-left: 30%;
    margin-top: 10%;
}

.btn-2 {
    background: var(--sejong-purple);
    border: none;
}

.btn-2:before {
    height: 0%;
    width: 2px;
}

.btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}