<?xml version="1.0" encoding="UTF-8"?>
<!--  resources/egovframework/mappers/memberMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.smartbusmng.mapper.MemberMapper">
	
	<select id="getNextOperatorGroupId" resultType="java.lang.String">
	    SELECT CONCAT(
	               '29300000',
	               COALESCE(
	                   MAX(CAST(SUBSTRING(group_id, 9) AS UNSIGNED)),
	                   0
	               ) + 1
	           ) AS next_group_id
	    FROM smartbusmngdb.sbm_operator
	    WHERE group_id LIKE '29300000%';
	</select>
	
	<select id="getGroupList" parameterType="String" resultType="egovframework.smartbusmng.model.member.GroupUserInfo">
		SELECT group_id as userGroupId, group_nm as userGroupNm 
		FROM smartbusmngdb.sbm_operator
	</select>
	
	<select id="getMenusByRole" parameterType="String" resultType="egovframework.smartbusmng.model.member.MenuDto">
		SELECT menu_id as menuId, parent_id as parentId, menu_nm as menuNm, menu_path as menuPath, role, sort_order as sortOrder
		FROM smartbusmngdb.sbm_menu
		WHERE role=#{role}
		ORDER BY sort_order ASC
	</select>
	
	<select id="getGroupRole" parameterType="String" resultType="java.lang.String">
		SELECT group_role
		FROM smartbusmngdb.sbm_operator
		WHERE group_id=#{groupId}
	</select>
	
	<select id="countByEmail" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM smartbusmngdb.sbm_operator_user
		WHERE user_email=#{email} 
	</select>
	
	<select id="checkGroupKey" resultType="int">
	   SELECT COUNT(*) 
	   FROM smartbusmngdb.sbm_operator 
	   WHERE group_key=#{groupKey} and group_id = #{groupId}
	</select>
   
	<insert id="insertMember" parameterType="egovframework.smartbusmng.model.member.MemberVO">
		INSERT INTO smartbusmngdb.sbm_operator_user (
			user_email, group_id, group_key, group_role, password, user_name, manage_depart, tel_no,
			create_dt, last_ip
		)
		VALUES (
			#{userEmail}, #{groupId}, #{groupKey}, #{groupRole}, #{password}, #{userName}, #{manageDepart}, #{telNo},
			#{createDt}, #{lastIp} 
		)
	</insert>
	
<!-- 	<update id="updateConfirmedUser">
        <foreach collection="users" item="u" separator=";">
            UPDATE smartbusmngdb.sbm_operator_user
            SET confirmed_user = 'Y',
                accept_dt = NOW(),
                update_dt = NOW()
            WHERE user_email = #{u.userEmail}
              AND group_id   = #{u.groupId}
              AND user_name  = #{u.userName}
        </foreach>
	</update>
 -->
	 <update id="updateConfirmedUser">
	  UPDATE smartbusmngdb.sbm_operator_user
	  SET confirmed_user = 'Y',
	      accept_dt = NOW(),
	      update_dt = NOW()
	  WHERE (user_email, group_id, user_name) IN
	  <foreach collection="users" item="u" open="(" separator="," close=")">
	    (#{u.userEmail}, #{u.groupId}, #{u.userName})
	  </foreach>
	</update>
	<select id="selectOperators" resultType="egovframework.smartbusmng.model.member.OperatorDto">
	    SELECT
	        id,
	        group_id AS groupId,
	        group_key AS groupKey,
	        group_role AS groupRole,
	        group_nm AS groupNm,
	        addr_street AS addrStreet,
	        addr_detail AS addrDetail,
	        zip,
	        fax_no AS faxNo,
	        tel_no AS telNo,
	        biz_regist_no AS bizRegistNo,
	        biz_category AS bizCategory,
	        manager_name AS managerName,
	        manager_depart AS managerDepart,
	        manager_email AS managerEmail,
	        manager_tel_no AS managerTelNo,
	        frst_regist_dt AS frstRegistDt,
	        last_updt_dt AS lastUpdtDt
	    FROM smartbusmngdb.sbm_operator
	    ORDER BY group_nm ASC;
	</select>

	<insert id="insertOperator" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO smartbusmngdb.sbm_operator (
	        group_id, group_key, group_role, group_nm,
	        addr_street, addr_detail, zip,
	        fax_no, tel_no,
	        biz_regist_no, biz_category,
	        manager_name, manager_email, manager_tel_no, manager_depart,
	        frst_regist_dt, frst_user_id, frst_regist_program,
	        last_updt_dt, last_user_id, last_updt_program
	    ) VALUES (
	        #{groupId}, #{groupKey}, #{groupRole}, #{groupNm},
	        #{addrStreet}, #{addrDetail}, #{zip},
	        #{faxNo}, #{telNo},
	        #{bizRegistNo}, #{bizCategory},
	        #{managerName}, #{managerEmail}, #{managerTelNo}, #{managerDepart},
	        NOW(), #{frstUserId}, #{frstRegistProgram},
	        NOW(), #{lastUserId}, #{lastUpdtProgram}
	    );
	</insert>
	
	<update id="updateOperator">
	    UPDATE smartbusmngdb.sbm_operator
	    SET
	        group_nm = #{groupNm},
	        addr_street = #{addrStreet},
	        addr_detail = #{addrDetail},
	        zip = #{zip},
	        fax_no = #{faxNo},
	        tel_no = #{telNo},
	        biz_regist_no = #{bizRegistNo},
	        biz_category = #{bizCategory},
	        manager_name = #{managerName},
	        manager_depart = #{managerDepart},
	        manager_email = #{managerEmail},
	        manager_tel_no = #{managerTelNo},
	        last_updt_dt = NOW(),
	        last_user_id = #{lastUserId},
	        last_updt_program = #{lastUpdtProgram}
	    WHERE id = #{id}
	</update>
	
	<!-- 승인된 회원 전체 조회 -->
	<select id="getApprovedMembersAll" resultType="egovframework.smartbusmng.model.member.MemberVO">
	    SELECT
	        user.user_email     AS userEmail,
	        user.group_id       AS groupId,
	        oper.group_nm		AS groupNm,
	        user.user_name      AS userName,
	        user.tel_no         AS telNo,
	        user.create_dt      AS createDt,
	        user.user.update_dt      AS updateDt,
	        user.accept_dt      AS acceptDt,
	        user.withdraw_yn    AS withdrawYn
	    FROM smartbusmngdb.sbm_operator_user user
	    INNER JOIN smartbusmngdb.sbm_operator oper
	    	ON user.group_id = oper.group_id
	    WHERE user.confirmed_user = 'Y'      -- 승인된 사용자
	    ORDER BY user.user_id DESC
	</select>
	
	<!-- 승인된 회원 페이징 조회 -->
	<select id="getApprovedMembersPaged" resultType="egovframework.smartbusmng.model.member.MemberVO">
	    SELECT
           user.user_email   AS userEmail,
           user.group_id     AS groupId,
           oper.group_nm     AS groupNm,   <!-- ✅ 추가 -->
           user.user_name    AS userName,
           user.tel_no       AS telNo,
           user.create_dt    AS createDt,
           user.update_dt    AS updateDt,
           user.accept_dt    AS acceptDt,
           user.withdraw_yn  AS withdrawYn
        FROM smartbusmngdb.sbm_operator_user user
        LEFT JOIN smartbusmngdb.sbm_operator oper
            ON user.group_id = oper.group_id
        WHERE user.confirmed_user = 'Y'
        ORDER BY user.user_id DESC
        LIMIT #{size} OFFSET #{offset}
	</select>
	
	<!-- 승인 대기 회원 전체 조회 -->
	<select id="getPendingMembersAll" resultType="egovframework.smartbusmng.model.member.MemberVO">
	    SELECT
	        user_email     AS userEmail,
	        group_id       AS groupId,
	        user_name      AS userName,
	        tel_no         AS telNo,
	        create_dt      AS createDt,
	        update_dt      AS updateDt,
	        accept_dt      AS acceptDt
	    FROM smartbusmngdb.sbm_operator_user
	    WHERE confirmed_user IS NULL    -- 아직 승인 안 된 사용자
	    ORDER BY user_id DESC
	</select>
	
	<!-- 승인 대기 회원 페이징 조회 -->
	<select id="getPendingMembersPaged" resultType="egovframework.smartbusmng.model.member.MemberVO">
	    SELECT
           user.user_email   AS userEmail,
           user.group_id     AS groupId,
           oper.group_nm     AS groupNm,
           user.user_name    AS userName,
           user.tel_no       AS telNo,
           user.create_dt    AS createDt,
           user.update_dt    AS updateDt,
           user.accept_dt    AS acceptDt
        FROM smartbusmngdb.sbm_operator_user user
        LEFT JOIN smartbusmngdb.sbm_operator oper
            ON user.group_id = oper.group_id
        WHERE user.confirmed_user IS NULL
        ORDER BY user.user_id DESC
        LIMIT #{size} OFFSET #{offset}
	</select>
	
	<select id="getMemberInfo" resultType="egovframework.smartbusmng.model.member.MemberVO">
	    SELECT
	        user_id        AS userId,
	        user_email     AS userEmail,
	        group_id       AS groupId,
	        group_role	   AS groupRole,
	        user_name      AS userName,
	        manage_depart  AS manageDepart,
	        tel_no         AS telNo,
	        create_dt      AS createDt,
	        update_dt      AS updateDt,
	        accept_dt      AS acceptDt
	    FROM smartbusmngdb.sbm_operator_user
	    WHERE user_id = #{userId} AND group_id = #{groupId} AND user_name = #{userName}
	</select>
	
	<update id="updateMember" parameterType="egovframework.smartbusmng.model.member.MemberVO">
	    UPDATE smartbusmngdb.sbm_operator_user
	    SET
	        user_name = #{userName},
	        manage_depart = #{manageDepart},
	        tel_no = #{telNo},
	        update_dt = NOW()
	    WHERE user_id = #{userId} AND group_id = #{groupId}
	</update>
	
	<!-- 현재 비밀번호 해시 조회 -->
	<select id="getPasswordByKey" resultType="string">
	    SELECT password
	    FROM smartbusmngdb.sbm_operator_user
	    WHERE user_id = #{userId} AND group_id  = #{groupId} AND user_name = #{userName}
	</select>
	
	<!-- 비밀번호 업데이트 (조건도 동일하게 3개) -->
	<update id="updatePassword">
	    UPDATE smartbusmngdb.sbm_operator_user
	    SET password = #{encodedPassword},
	        update_dt = NOW()
	    WHERE user_id = #{userId} AND group_id = #{groupId} AND user_name = #{userName}
	</update>
	
	<select id="selectOperatorUserForAuth" resultType="egovframework.smartbusmng.model.member.MemberVO">
		SELECT
		    user_id,
		    group_id,
		    user_email,
		    password,
		    user_name,
		    withdraw_yn
	  	FROM smartbusmngdb.sbm_operator_user
	  	WHERE group_id = #{groupId}
		    AND user_email = #{userEmail}
		    AND withdraw_yn = 'N'
	  	LIMIT 1
	</select>

	<update id="withdrawOperatorUser">
		UPDATE smartbusmngdb.sbm_operator_user
		SET
	    	withdraw_yn = 'Y',
		    withdraw_dt = NOW(),
		    update_dt = NOW(),
		    user_email = CONCAT('withdraw_', DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), '_', user_email)
		WHERE group_id = #{groupId}
	    	AND user_email = #{userEmail}
	    	AND withdraw_yn = 'N'
	</update>
</mapper>